header {
    text-align: center;
    padding: 20px;
    background-color: #f8f9fa;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

h2 {
    text-align: center;
    margin-top: 20px;
}

#training-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

#training-form {
    max-width: 1000px;
    margin: 10 auto;
    padding: 20px;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
}

#form-section {
    display: flex;
    gap: 20px;
}

.checkbox-container, .name-container{
    max-height: 400px;   /* adjust the height you want */
    overflow-y: auto;    /* enables vertical scrollbar */
    border: 1px solid #ccc;
    padding: 5px;
    display: flex;
    flex-direction: column;
}

#training-button, #select-all, #deselect-all, #select-hc {
    color: white;
    border: none;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #007bff;
    cursor: pointer;
    max-width: fit-content;
}