<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exploratory Data Analysis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/eda_style.css') }}">
</head>
<body>
    <h1>Exploratory Data Analysis</h1>
    <header>
        <nav class="navbar">
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('train') }}">Training</a></li>
                <li><a href="{{ url_for('prediction') }}">Prediction</a></li>
                <li><a href="{{ url_for('view_models') }}">Models</a></li>
            </ul>
        </nav>
    </header>
    <main id="eda-main">
        <h2>Dataset Overview</h2>
        <div id="info-navigator">
            <a href="#summary">Summary</a>
            <a href="#target">Target Variable</a>
            <a href="#correlations">Correlations</a>
            <a href="#plots">Plots</a>
        </div>
        <div class="info-container">
            <div id="summary" class="eda-section">
                <h2>Data Summary</h2>
                <ul id="data-summary">
                    <li class="list-group-item">Number of Rows: <b>{{ statistics.n_rows }}</b></li>
                    <li class="list-group-item">Number of Columns: <b>{{ statistics.n_cols }}</b></li>
                    <li class="list-group-item">Target Variable: <b>{{ statistics.target }}</b></li>
                </ul>

                <h3 class="mt-4">Descriptive Statistics</h3>
                <div id="table-section">
                    {{ statistics.describe|safe }}
                </div>
            </div>

            <div id="target" class="eda-section">
                <h2>Target Variable</h2>
                <img src="{{ url_for('static', filename='eda/target_distribution.png') }}" alt="Target Variable Distribution">
                <p>Distribution of the target variable (House Price).</p>
            </div>

            <div id="correlations" class="eda-section">
                <h2>Correlations</h2>
                <img src="{{ url_for('static', filename='eda/correlation_heatmap.png') }}" alt="Correlation Heatmap">
                <p>Pearson correlation heatmap showing linear relationships between features.</p>
                <p>Last column (or last row) show the correlation between the target variable and the other numerical features.</p>
                <p>Plots of features with highest linear correlation are shown in the next section.</p>
            </div>

            <div id="plots" class="eda-section">
                <h2>Plots</h2>
                <h3>Plots for numerical features</h3>
                <p>Features' plots are shown in decreasing order of correlation with SalePrice</p>
                <div class="plot">
                    <img src="{{ url_for('static', filename='eda/saleprice_vs_overall_quality.png') }}" alt="Sale Price vs Overall Quality">
                </div>
                <div class="plot">
                    <img src="{{ url_for('static', filename='eda/saleprice_vs_living_area.png') }}" alt="Sale Price vs Living Area">
                </div>
                <div class="plot">
                    <img src="{{ url_for('static', filename='eda/saleprice_vs_garage_cars.png') }}" alt="Sale Price vs Garage Cars">
                </div>
                <div class="plot">
                    <img src="{{ url_for('static', filename='eda/saleprice_vs_garage_area.png') }}" alt="Sale Price vs Garage Area">
                </div>
                <div class="plot">
                    <img src="{{ url_for('static', filename='eda/saleprice_vs_total_basement_area.png') }}" alt="Sale Price vs Total Basament Area">
                </div>
                <p>Other numerical features with a high correlation with SalePrice are:</p>
                <ul>
                    <li>1st Floor Area</li>
                    <li>Full Bath</li>
                    <li>TotRms AbvGrd</li>
                    <li>Year Built</li>
                    <li>Year Remod/Add</li>
                    <li>Fireplaces</li>
                </ul>
                <h3>Plots for categorical features</h3>
                <p>Features' plots are shown in decreasing order of correlation with SalePrice</p>
                <div class="plot">
                    <img src="{{ url_for('static', filename='eda/saleprice_vs_neighborhood.png') }}" alt="Sale Price vs Neighborhood">
                </div>
                <div class="plot">
                    <img src="{{ url_for('static', filename='eda/saleprice_vs_exterior_quality.png') }}" alt="Sale Price vs Exterior Quality">
                </div>
                <div class="plot">
                    <img src="{{ url_for('static', filename='eda/saleprice_vs_kitchen_quality.png') }}" alt="Sale Price vs Kitchen Quality">
                </div>
                <div class="plot">
                    <img src="{{ url_for('static', filename='eda/saleprice_vs_basement_quality.png') }}" alt="Sale Price vs Basement Quality">
                </div>
                <div class="plot">
                    <img src="{{ url_for('static', filename='eda/saleprice_vs_sale_condition.png') }}" alt="Sale Price vs Sale Condition">
                </div>
                <div class="plot">
                    <img src="{{ url_for('static', filename='eda/saleprice_vs_house_style.png') }}" alt="Sale Price vs House Style">
                </div>
                <p>Other categorical features with a high correlation with SalePrice are:</p>
                <ul>
                    <li>MSZoning</li>
                    <li>Garage Finish</li>
                    <li>Garage Type</li>
                    <li>Foundation</li>
                    <li>Central Air</li>
                </ul>
            </div>
            <div>
                <h2>Considerations</h2>
                <ul>
                    <li>Quality matters more than size; in fact, features which express quality (Overall, Kitchen, Exter) have higher correlations.</li>
                    <li>Neighborhood has a strong impact on price; as expected, the location is important on the price.</li>
                    <li>House style also matters; houses with more than one story tend to have higher prices.</li>
                    <li>Practical amenities (that is, used spaces), like Garage and Basament, tend to increase the price more than just sheer dimensions.</li>
                    <li>Sale condition affects the price; houses sold under normal conditions tend to have higher prices.</li>
                    <li>There are some outliers given by large, poor-quality homes or by special sales.</li>
                </ul>
            </div>
        </div>
    </main>
</body>
</html>