<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>House Price Regression Homepage</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/index_style.css') }}">
</head>
<body class="container">
    <header>
        <h1>Welcome to the House Price Regression App</h1>
        <nav class="navbar">
            <ul>
                <li><a href="{{ url_for('train') }}">Training</a></li>
                <li><a href="{{ url_for('prediction') }}">Prediction</a></li>
                <li><a href="{{ url_for('view_models') }}">Models</a></li>
                <li><a href="{{ url_for('eda') }}">EDA</a></li>
            </ul>
        </nav>
    </header>
    <h2 id="documentation">Information about the App</h2>
    <p>This application is designed to predict house prices based on various features of the houses.
       It provides functionalities for training regression models, making predictions, and  explore data analysis.</p>
    <h3>Features:</h3>
    <ul id="features-list">
        <li class="feature">Training: it is possible to train a model by giving it a name, choosing which type of regression to use
            and selecting the features on which the training will be based (the features names are the same as the columns of the dataset).</li>
        <li class="feature">Prediction: it is possible to make a prediction by selecting a model (between those that have been trained)
            and providing the values for all the features requested.</li>
        <li class="feature">Models: it is possible to view the models that have been trained, and also delete them if desired.</li>
        <li class="feature">EDA: it is possible to view performed exploratory data analysis on the dataset.</li>
</body>
</html>